.combo .container {
    height: 623px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Left container */
.combo .left-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.combo .left-container h1 {
    font-size: 10rem;
    line-height: 9rem;
    text-transform: uppercase;
    color: var(--Brown);
}

.combo .left-container strong {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.818rem;
    text-transform: uppercase;
    color: var(--yellow);
    position: relative;
}

.combo .left-container strong::after {
    content: '';
    display: block;
    width: 288px;
    height: 3px;
    background-image: url('/img/Path\ 4.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0px;
}

.combo .left-container .info-value {
    display: flex;
    align-items: center;
    gap: 30px;
}

.combo .left-container .info-value .value {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.combo .left-container .info-value .value h2 {
    font-size: 5.0rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: 0.3rem;
    margin-left: -3px;
    color: var(--yellow);
}

.combo .left-container .info-value .value p {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #979797;
}

.combo .left-container .info-value button {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.909rem;
    text-transform: uppercase;
    padding: 20px 60px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: var(--Brown);
    position: relative;
}

.combo .left-container .info-value button::after {
    content: "";
    display: block;
    width: 57px; /* Ajusta según tus necesidades */
    height: 57px; /* Ajusta según tus necesidades */
    background-image: url('/img/Object.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    right: -90px;
}

/* right container */
.combo .right-container {
    width: 528px;
    height: 623px;
    display: flex;
    flex-direction: column;
    background-color: var(--yellow);
    margin-right: 25px;
    position: relative;
}

.combo .right-container::after {
    content: '';
    display: block;
    width: 528px;
    height: 50px;
    background-color: inherit;
    position: absolute;
    bottom: -50px;
    border-radius: 0px 0px 15px 15px;
    
}
.combo .right-container .imagens {
    width: 528px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.combo .right-container .imagens img {
    position: absolute;
}

.combo .right-container  .imagens .whopper-img {
    bottom: 40px;
    z-index: 5;
}

.combo .right-container .imagens .pepsi-img {
    top: 110px;
    left: -90px;
}

.combo .right-container .imagens .batata-img{
    top: 110px;
    right: -90px;
}

.combo .right-container .imagens .bitmap-img{
    top: 80px;
}

.combo .right-container .date-promotional {
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFFFFF;
}

.combo .right-container .date-promotional i {
    font-size: 15px;
}


.combo .right-container .date-promotional p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4rem;
    letter-spacing: -0.4285714328289032px;
    position: relative;
}

.combo .right-container .date-promotional strong {
    font-weight: 900;
}

.combo .right-container .date-promotional p::after {
    content: '';
    display: block;
    width: 78px;
    height: 14px;
    background-image: url('/img/Path\ 6\ Copy.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: -90px;
    top: 0;
}

.combo .right-container .date-promotional p::before {
    content: '';
    display: block;
    width: 78px;
    height: 14px;
    background-image: url('/img/Path\ 6.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: -100px;
    top: 0;
}

@media (max-width: 1200px) {
    .combo .container {
        margin-top: 110px;
        align-items: start;
        flex-direction: column-reverse;
    }

    .combo .right-container {
        border-radius: 20px 20px 0 0;
        height: 250px;
        align-items: center;
    }

    .combo .right-container, 
    .combo .right-container::after{ 
        width: 100%;
    }

    .combo .right-container .date-promotional {
        position: absolute;
        bottom: -30px;
    }


    .combo .right-container  .imagens .whopper-img {
        width: 40rem;
        bottom: -20px;
        z-index: 5;
    }
    
    .combo .right-container .imagens .pepsi-img {
        width: 20rem;
        top: -60px;
        left: 0px;
    }
    
    .combo .right-container .imagens .batata-img{
        width: 20rem;
        top: -60px;
        right: 0px;
    }
    
    .combo .right-container .imagens .bitmap-img{
        top: -100px;
    }

}

@media (max-width: 660px) {
    .combo .container {
        margin-top: 100px;
    }

    .combo .right-container {
        height: 200px;
    }

    .combo .right-container  .imagens .whopper-img {
        bottom: 0px;
        z-index: 5;
    }
    
    .combo .right-container .imagens .pepsi-img {
        top: -75px;
        left: 40px;
    }
    
    .combo .right-container .imagens .batata-img{
        top: -75px;
        right: 40px;
    }
    
    .combo .right-container .imagens .bitmap-img{
        width: 10rem;
        top: -100px;
    }
}

@media (max-width: 500px) {

    .combo .right-container  .imagens .whopper-img {
        width: 35rem;
        bottom: 0px;
        z-index: 5;
    }
    
    .combo .right-container .imagens .pepsi-img {
        width: 17rem;
        top: -60px;
        left: 70px;
    }
    
    .combo .right-container .imagens .batata-img{
        width: 17rem;
        top: -60px;
        right: 70px;
    }
    
    .combo .right-container .imagens .bitmap-img{
        width: 9rem;
        top: -60px;
    }
}
