.coupons-snacks {
    padding: 7rem 0 10rem 0;
    width: 100%;
    overflow-x: hidden;
}

.coupons-snacks .container {
    height: auto;
}

.coupons-snacks .coupons {
    display: flex;
    gap: 20px;
    width: 100%;
}

.coupons-snacks .coupons .coupon {
    height: 144px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #F5ECE7;
    padding: 20px 40px;
}

.coupons-snacks .coupons .coupon:nth-child(1)  {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 28.63px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    padding-top: 40px;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
}

.coupons-snacks .coupons .coupon:first-child::before {
    content: '';
    display: block;
    width: 8.6rem;
    height: 2.7rem;
    background-image: url('/img/Combined\ Shape\ \(1\).svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 20px; 
}

.coupons-snacks .coupons:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coupons-snacks .coupons .coupon:nth-child(2) {
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: var(--Brown);
}

.coupons-snacks .coupons .coupon:nth-child(2) span {
    font-size: 2.4rem;
    color: #EE1D23;
}


.coupons-snacks .coupons .coupon:nth-child(3) {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 2.863rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #EE1D23;
}

.coupons-snacks .coupons .coupon:nth-child(3) span {
    font-size: 3rem;
    font-weight: 900;
    line-height: 2.863rem;
    letter-spacing: -0.3009259104728699px;
    text-transform: uppercase;
    color: #F9A641;
}

.coupons-snacks .coupons .coupon:nth-child(4) {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 28.63px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #185494;
    position: relative;
}

.coupons-snacks .coupons .coupon:nth-child(4)::after {
    content: '';
    display: block;
    width: 86px;
    height: 27px;
    background-image: url('/img/Path\ 9.png');
    background-repeat: no-repeat;

    position: absolute;
    top: 52px;
    right: -15px;
}

.coupons-snacks .coupons .coupon:nth-child(5) {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 28.63px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--orange);
    padding: 0 30px 0 30px;
}

.coupons-snacks .coupons .coupon:nth-child(5) span {
    font-size: 2rem;
    color: var(--Brown);
    margin-left: 5rem;
}



/* Snacks */ 


.coupons-snacks .container .snack {
    width: 37rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    background-color: #f5ece7c6;
    position: relative;
    cursor: grab;
}

.coupons-snacks .container .snack .combo-snack {
    width: 100%;
    height: 33rem;
    object-fit: cover;
}

.coupons-snacks .container .snack img {
    width: 100%;
}

.coupons-snacks .container .snack p,
.coupons-snacks .container .snack strong {
    padding-left: 5rem;
}


.coupons-snacks .container .snack p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.909rem;
    letter-spacing: 0.1rem;
    color: var(--Brown);
    margin-top: 2rem;
}

.coupons-snacks .container .snack strong {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.818rem;
    letter-spacing: 0.1477rem;
    color: var(--orange);
    margin-bottom: 2.5rem;
}

.coupons-snacks .container .snack i {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    border-radius: 50%;
    color: var(--orange);
    background-color: #FFFFFF;
}

.botton-snacks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.botton-snacks a {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.67rem;
    letter-spacing: 0.0176rem;
    text-transform: uppercase;
    color: var(--yellow);
}

.botton-snacks a span {
    font-weight: 800;
    color: var(--orange);
    padding-left: 1rem;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
}
.swiper-wrapper {
    margin-top: 6rem;
    display: flex;
    gap: 5rem;
}

.botton-snacks  .swiper-pagination {
    position: relative;
    width: auto;
    bottom: 0;
    z-index: 200;
}

.botton-snacks  .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 0;
    background-color: #2F2F3B;
    opacity: 1;
}

.botton-snacks .swiper-pagination-bullet-active {
    background-color: #FFFF;
}



@media (max-width: 1090px) {
    .coupons-snacks .container .snack {
        width: 35rem;
    }

    .coupons-snacks .container .snack .combo-snack {
        width: 35rem;
        height: 31rem;
        object-fit: cover;
    }
}

@media (max-width: 1000px) {
    .coupons-snacks .container .snack {
        height: 45rem;
        width: 35rem;
    }

    .coupons-snacks .container .snack p,
    .coupons-snacks .container .snack strong {
    padding-left: 4rem;
}

}


