footer {
    width: 100%;
    background-color: var(--Brown);
    position: relative;
}

footer .container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 0 30px 0;
}


footer .container .redes-sociais {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
}

footer .container .redes-sociais a {
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 1.789rem;
    letter-spacing: 1px;
    color: #FFFFFF;
}

footer .container .redes-sociais .logo-bk {
    padding: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0px 80px 0 80px;
}

footer .container .redes-sociais i{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #5D2A1C;
}

footer .container p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 1px;
    color: #979797;
    text-align: center;
}

@media (max-width: 1044px) {
    footer .container {
        height: 300px;
        justify-content: start;
        padding: 30px 0 30px 0;
    }

    footer .container .redes-sociais .logo-bk {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        margin: 0;
    }

    footer .container .redes-sociais {
        flex-wrap: wrap;

        justify-content: center;  
    }

    footer .container .redes-sociais i{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 970px) {
    footer .container {
        height: 350px;
    }

    footer .container .redes-sociais {
        padding: 0 20% 0 20%;
    }
}

@media (max-width: 860px) {
    footer .container {
        padding-top: 40px;
    }

    footer .container .redes-sociais {
        padding: 0;
    }
}

@media (max-width: 440px) {
    footer .container .redes-sociais i{
        width: 20px;
        height: 20px;
    }
}




