.ofertas {
    display: flex;
    align-items: center;
    background-color: var(--orange);
    height: 200px;
    overflow: hidden;
}

.ofertas .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ofertas .container .ofertas-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.ofertas .container .ofertas-left::before {
    content: '';
    display: block;
    width: 27.4rem;
    height: 28.5rem;
    background-image: url('/img/Combined\ Shape\ \(1\).png');
    background-repeat: no-repeat;
    position: absolute;
    top: -55px;
    left: -100px;
}

.ofertas .container .ofertas-left::after {
    content: '';
    display: block;
    width: 11rem;
    height: 9.1rem;
    background-image: url('/img/Group\ 6.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: -120px;
}


.ofertas .container .ofertas-left p {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 1px;
    color: #FFFFFF;
    z-index: 1;
}

.ofertas .container .ofertas-left h3 {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--Brown);
    z-index: 1;
}

.ofertas .container .ofertas-right button {
    padding: 2rem 10.3rem;
    margin-right: 25px;
    border-radius: 10px;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.863rem;
    letter-spacing: -0.3009259104728699px;
    color: #475993;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    text-align: left;
}


@media (max-width: 1270px) {
    .ofertas .container .ofertas-left::after {
        display: none;
    }
}

@media (max-width: 1160px) {
    .ofertas .container .ofertas-right button {
        padding: 2rem 7rem;
    }
}

@media (max-width: 1080px) {
    .ofertas .container .ofertas-right button {
        font-size: 20px;
    }

    .ofertas .container .ofertas-right button img {
        width: 30px;
    }
}

@media (max-width: 1045px) {
    .ofertas .container .ofertas-right button {
        padding: 1rem 3rem;
    }

}

@media (max-width: 745px) {
    .ofertas .container {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .ofertas .container .ofertas-right button {
        margin-top: 3px;
    }
}

@media (max-width: 385px) {
    .ofertas {
        height: 270px;
    }
}





