@import url('_header.css');
@import url('_combo.css');
@import url('_ofertas.css');
@import url('_coupons-snacks.css');
@import url('_footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Flame-Regular', sans-serif;
}

:root {
    --Brown: #59291C;
    --yellow: #FAAF18;
    --orange: #ED7902;
    --beige: #EFE1DA;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Flame-Regular';
    src: url('../fonts/FlameRegular.otf') format('truetype');
}

@media (max-width: 1140px) {
    html {
        font-size: 55%;
    }
}


@media (max-width: 1086px) {
    html {
        font-size: 65%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
}


@media (max-width: 460px) {
    html {
        font-size: 45%;
    }
}



